body{
    background: black;
    padding:0;
    margin:0;
}

.contact{
    color: rgba(128, 128, 128, 0.842);
    margin-top:20px;
    margin-left:10px;
    float: left;
}

h1{
    color: rgb(41, 167, 156);
    font-size: 25px;  
}

form{
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.842);
    margin:40px;
    padding: 20px;
}

img{
    float: left;
    margin-top: 10px;
}
.send{
    margin-right:40px;
    margin-bottom:100px;
    text-align: right;
}
